<div class="container margin-top">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-success" (click)="ngOnInit()">Recarregar</button>
        </div>
    </div>
    <table class="table table-dark table-hover margin-top">
        <thead>
            <tr>
                <th class="border center" scope="col">Nome</th>
                <th class="border center" scope="col">Descricao</th>
                <th class="border center" scope="col">Preco</th>
                <th class="border center" scope="col">Quantidade</th>
                <th class="border center" scope="col">Ação</th>
            </tr>
        </thead>
        <tbody *ngIf="listaVazia == false">
            <tr *ngFor="let l of lista">
                <td class="border center">{{l.nome}}</td>
                <td class="border center">{{l.descricao}}</td>
                <td class="border center">{{l.preco | currency:'BRL':true:'1.2-2'}}</td>
                <td class="border center">{{l.quantidade}}</td>
                <td class="border center" style="width: 19%;">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success">Alterar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" (click)="excluir(l.id)">Excluir</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="listaVazia == true">
            <tr>
                <td class="border center" colspan="5">Sem produtos cadastrados</td>
            </tr>
        </tbody>
    </table>
</div>